body {
  background-color: #def5ff;
  position:relative;
 }
 /* #c6dae3 */

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-style: none;
  outline: none;
  margin-bottom:auto;
}

.anus {
  width:160px;
}

.wrapper {
  overflow:hidden;
  position:relative;
  height:100vh;
  width:100%;
  display:flex;
  flex-direction: column;

  font-family: "Lato";
}

.table {
  background-color:#def5ff;
  max-width:600px;
  width:100%;
  height:600px;
  margin:auto auto 10px;
  display:flex;
  flex-wrap: wrap;
}

.table div {
  width:33.3333333%;
  height:200px;
  position:relative;
  display:flex;
  align-items:center;
  justify-content: center;
}

.table div .active {
  cursor:pointer;
}

.t-logo {
  z-index: 2;
  width:50px;
  height:50px;
  transition-duration: 0.4s;
}

.move {
  margin-top:-120px;

}

.table .block {
  z-index:3;
  width:80px;
  height:80px;
  position:absolute;
  background-image:url(../img/fig-bottom.svg);
}

.table .block-bottom {
  z-index: 1;
  width:80px;
  height:80px;
  position:absolute;
  background-image:url(../img/fig-top.svg);
}

@keyframes forward {
  0% {left:100%;}
  100% {left:80%;}
}

@keyframes back {
  0% {left:80%;}
  100% {left:100%;}
}



.durov {
  display:none;
  width:300px;
  position:absolute;
  left:100%;
  top:80%;
  /* transition:0.6s; */
  /* animation: forward 1s linear forwards, back 1s linear 1.5s forwards; */
}

.durov-move {
  animation: forward 0.7s linear forwards, back 0.7s linear 1.5s forwards;
  display:block;
}

@media screen and (max-width: 576px) {
  @keyframes forward {
    0% {left:100%;}
    100% {left:60%;}
  }

  @keyframes back {
    0% {left:60%;}
    100% {left:100%;}
  }
}
